<div class="custom-container">
    <app-reloj></app-reloj>
    <div class="container-breadcrumbs">
        <div class="volver" (click)="onVolver()">
            <i class="material-icons-outlined">arrow_back_ios</i>
            <span>Volver</span>
        </div>
    </div>
    <div class="text-header">
        <span class="title">{{title}}</span>
    </div>
    <div class="organization-detalle-container">
        <div class="card">
            <mat-table #tableConsumo class="mvm-table" [dataSource]="dataTableConsumo">
                <ng-container matColumnDef="coste">
                    <mat-header-cell *matHeaderCellDef>Coste del kwH</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.precio | number:'1.1-2'}}$</mat-cell>
                </ng-container>
                <ng-container matColumnDef="consumoEnergia">
                    <mat-header-cell *matHeaderCellDef>Consumo energía</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.energiaAcumuladaDia | number:'1.1-2'}}kWh</mat-cell>
                </ng-container>
                <ng-container matColumnDef="valorDia">
                    <mat-header-cell *matHeaderCellDef>Valor del día</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.costoAcumuladoDia | number:'1.1-2'}}$</mat-cell>
                </ng-container>
                <ng-container matColumnDef="valorMes">
                    <mat-header-cell *matHeaderCellDef>Valor del mes</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.costoAcumuladoMes | number:'1.1-2'}}$</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnsTableConsumo; sticky: true"></mat-header-row>
                <mat-row class="fadeIn" *matRowDef="let row; columns:columnsTableConsumo"></mat-row>
            </mat-table>
        </div>
        <div class="card" *ngIf="request.TypeOfOrganization == 2">
            <mat-table #tableInformation class="mvm-table" [dataSource]="dataTableInformation">
                <ng-container matColumnDef="referencia">
                    <mat-header-cell *matHeaderCellDef>Referencia</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.referencia}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.tipo}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="marca">
                    <mat-header-cell *matHeaderCellDef>Marca</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.marca}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="icon">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element"></mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnsTableInfo; sticky: true"></mat-header-row>
                <mat-row class="fadeIn" *matRowDef="let row; columns:columnsTableInfo"></mat-row>
            </mat-table>
        </div>
    </div>
    <div class="graficas-card-detalle-container">
        <div class="card">
            <div class="pronosticos-charts-container">
                <div class="canvas-container">
                    <div class="grafica-consumo-dia-container">
                        <div class="title">
                            <h3>Pronósticos del consumo del dia</h3>
                        </div>
                        <div class="grafica-consumo-dia-canvas">
                            <canvas baseChart [data]="consumoActualData" [options]="lineChartOptions" [type]="consumoActualChart"></canvas>
                        </div>
                    </div>
                    <div class="grafica-consumo-dia-container">
                        <div class="title">
                            <h3>Energía reactiva</h3>
                        </div>
                        <div class="grafica-consumo-dia-canvas">
                            <canvas baseChart [data]="energiaReactivaData" [options]="lineChartOptions" type="line"></canvas>
                        </div>
                    </div>
                    <div class="grafica-porcentaje-consumo-container">
                        <div class="title">
                            <h3>Porcentaje de energia del medidor</h3>
                        </div>
                        <div class="grafica-porcentaje-canvas">
                            <canvas baseChart [data]="porcentajeConsumoData" [options]="porcentajeConsumoOptions" [type]="porcentajeConsumoChart"></canvas>
                        </div>
                    </div>
                    <div class="grafica-consumo-mes-container">
                        <div class="title">
                            <h3>Consumo del mes</h3>
                        </div>
                        <div class="chartFilters">
                            <div class="date-filter-container">
                                <label>Fecha</label>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <input matInput [matDatepicker]="picker" placeholder="MM/DD/AÑO" [(ngModel)]="datePicker" (ngModelChange)="onDatePickerChange()">
                                    <mat-datepicker #picker></mat-datepicker>
                                    <button mat-icon-button (click)="picker.open()" color="primary">
                                        <mat-icon>calendar_today</mat-icon>
                                    </button>
                                </mat-form-field>

                                <!-- <label>Desde</label>
                                <input type="date" [(ngModel)]="datePicker" (ngModelChange)="onDatePickerChange()"> -->
                            </div>
                        </div>
                        <div class="grafica-consumo-mes-canvas">
                            <canvas baseChart [data]="consumoMesData" [options]="consumoMesChartOptions" [type]="consumoMesChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>