<div class="container-toolbar">
    <div class="input-toolbar">
        <input type="text" placeholder="Buscar">
        <i class="material-icons search">search</i>
    </div>
    <div class="notificacion">
        <div class="cantidad-notificacion">12</div>
        <div class="container">
            <i class="material-icons-outlined">notifications</i>
            
        </div>
        
    </div>
    <div class="user-toolbar">
        <span class="name-user">Carlos Vélez</span>
        <i class="material-icons person">person</i>
        <i class="material-icons expand">expand_more</i>
    </div>
</div>
