
<div class="login-container">

    <div class="img-login">
        <img src="../../../assets/images/img-login.svg" alt="">
    </div>

    <div class="form-login">
        <div class="form-container">
            <div class="header-form">

                <span class="title-login">Comercializadora digital</span>
                <span class="subtitle-login">Hola bienvenido de nuevo!</span>

            </div>
            <div class="fields-form">
                <div class="container-input">
                    <span class="label-input">Usuario</span>
                    <input type="text" class="input-login" placeholder="Ingrese el usuario...">
                </div>
                <div class="container-input">
                    <span class="label-input">Contraseña</span>
                    <input type="password" class="input-login" placeholder="Ingrese la contraseña">
                </div>
                
                <button class="button-black" (click)="login()">Ingresar</button>
                
                <div class="remember-pass">
                    <input class="checkbox" type="checkbox">
                    <span>Recordar contraseña</span>
                </div>

                <span class="register">¿No tienes cuenta, regístrate?</span>

            </div>
        </div>

        <div class="logo">
            <img src="../../../assets/images/Logo.svg" alt="">
        </div>
    </div>
</div>
