<div class="custom-container">
    <app-reloj></app-reloj>
    <div class="container-breadcrumbs">
        <div class="volver" [routerLink]="['/main/dashboard']">
            <i class="material-icons-outlined">arrow_back_ios</i>
            <span>Volver</span>
        </div>
    </div>
    <div class="container-puntos-medida">



        <div class="text-header">
            <span class="title">Medidores</span>
            <span class="departamento">{{ubicacionMedidores}}</span>
        </div>

        <div class="tabla-filters">
            <div class="filter">
                <form class="fields" [formGroup]="filterForm">

                    <div class="field">
                        <label>ID</label>
                        <input type="text" class="" formControlName="ID">
                    </div>

                    <div class="field-custom">
                        <label>Fecha</label>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <input matInput [matDatepicker]="picker" placeholder="MM/DD/AÑO" formControlName="Fecha">
                            <mat-datepicker #picker></mat-datepicker>
                            <button mat-icon-button (click)="picker.open()" color="primary">
                                <mat-icon>calendar_today</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="field">
                        <label>Hora</label>
                        <input type="time" class="" placeholder="Hora" formControlName="Hora">
                    </div>

                    <app-select-custom [options]="dataAreaSelect" (selected)="onAreaSelected($event)"></app-select-custom>

                    <app-select-custom [options]="dataMunicipiosSelect" (selected)="onMunicipioSelected($event)"></app-select-custom>


                    <app-select-custom [options]="dataDepartamentosSelect" (selected)="onDepartamentoSelected($event)"></app-select-custom>

                    <div class="field">
                        <label>Dirección</label>
                        <input type="text" class="" formControlName="Direccion">
                    </div>



                    <button class="black-button" (click)="onFilter()">Buscar</button>

                </form>
            </div>

            <div class="updated-data">
                <div class="content-updated">
                    <span class="text-small">Hora de última actualización de datos</span>
                    <span class="text-large">{{horaUltimaDatos}}</span>
                    <span class="text-small">{{fechaUltimaDatos}}</span>
                </div>
            </div>

            <div class="container-tabla">
                <div class="table-container">
                    <mat-table #table [dataSource]="dataSource" class="mvm-table">
                        <ng-container matColumnDef="ID" sticky>
                            <mat-header-cell *matHeaderCellDef class="celda-170">ID</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="celda-170">{{element.localId}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="area">
                            <mat-header-cell *matHeaderCellDef class="celda-170">Area</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="celda-170">{{element.nameArea}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="municipio">
                            <mat-header-cell *matHeaderCellDef class="celda-90M">Municipio</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="celda-90M">{{element.nameMunicipio}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="direccion">
                            <mat-header-cell *matHeaderCellDef>Dirección</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.dirLocal}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="potenciaActiva">
                            <mat-header-cell *matHeaderCellDef>Potencia activa</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <img src="../../../../assets/icons/stateBlue.svg" alt="" *ngIf="element.potenciaActiva <= element.statusMonitor.bajoConsumo" class="icon-state">
                                <img src="../../../../assets/icons/stateRed.svg" alt="" *ngIf="element.potenciaActiva >= element.statusMonitor.altoConsumo" class="icon-state">
                                <img src="../../../../assets/icons/stateGreen.svg" alt="" *ngIf="element.potenciaActiva > element.statusMonitor.bajoConsumo && element.potenciaActiva < element.statusMonitor.altoConsumo" class="icon-state"> {{element.potenciaActiva | number:'.2-2'}} kW
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="potenciaReactiva">
                            <mat-header-cell *matHeaderCellDef>Potencias reactiva</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <img src="../../../../assets/icons/stateGreen.svg" alt="" *ngIf="element.potenciaReactiva <= element.potenciaActiva * 0.5" class="icon-state">
                                <img src="../../../../assets/icons/stateRed.svg" alt="" *ngIf="element.potenciaReactiva > element.potenciaActiva * 0.5" class="icon-state"> {{element.potenciaReactiva | number:'1.1-2'}} kVAR
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <img class="icon-medidor" src="../../../../assets/icons/medidor de energía.svg" alt="" (click)="OnVerDetalle(element,1)">
                                <img class="icon-eye" src="../../../../assets/icons/eye.svg" alt="" (click)="OnVerDetalle(element,2)">
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row class="fadeIn" *matRowDef="let row; columns:displayedColumns"></mat-row>
                    </mat-table>
                </div>
                <div class="container-pagination">
                    <div class="items-peer-pages">
                        <span>Items por página.</span>
                        <select (change)="setPageSize($event)" class="select-pagination">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="100">100</option>
                        </select>
                    </div>

                    <div (click)="firstPage()" class="arrow">
                        <img src="../../../../assets/icons/Izquierda.svg" alt="" *ngIf="!(this.pageCount <= 0)" [ngClass]="{'disabledArrow':(this.pageCount <= 0), 'enabledArrow':!(this.pageCount <= 0)}">
                        <img src="../../../../assets/icons/Izquierda.svg" alt="" *ngIf="!(this.pageCount <= 0)" [ngClass]="{'disabledArrow':(this.pageCount <= 0), 'enabledArrow':!(this.pageCount <= 0)}" class="join-left">
                        <img src="../../../../assets/icons/IzquierdaDisabled.png" alt="" *ngIf="(this.pageCount <= 0)" [ngClass]="{'disabledArrow':(this.pageCount <= 0), 'enabledArrow':!(this.pageCount <= 0)}">
                        <img src="../../../../assets/icons/IzquierdaDisabled.png" alt="" *ngIf="(this.pageCount <= 0)" [ngClass]="{'disabledArrow':(this.pageCount <= 0), 'enabledArrow':!(this.pageCount <= 0)}" class="join-left">
                    </div>

                    <div (click)="previousPage()" class="arrow">
                        <img src="../../../../assets/icons/Izquierda.svg" alt="" *ngIf="!(this.pageCount <= 0)" [ngClass]="{'disabledArrow':(this.pageCount <= 0), 'enabledArrow':!(this.pageCount <= 0)}">
                        <img src="../../../../assets/icons/IzquierdaDisabled.png" alt="" *ngIf="(this.pageCount <= 0)" [ngClass]="{'disabledArrow':(this.pageCount <= 0), 'enabledArrow':!(this.pageCount <= 0)}">
                    </div>

                    <div class="pages">

                        <div *ngFor="let pageNumber of getPages().slice(0,2)" [ngClass]="{'page': pageNumber === this.pageCount+1,'page-noselected':pageNumber !== this.pageCount+1 }">
                            {{pageNumber}}
                        </div>

                        <span *ngIf="getPages().length > 2"><b>...</b></span>
                        <div class="page" *ngIf="getPages().length > 2" [ngClass]="{'page': getPages()[getPages().length-1] === this.pageCount+1,'page-noselected':getPages()[getPages().length-1] !== this.pageCount+1 }">
                            {{getPages()[getPages().length-1]}}
                        </div>
                    </div>

                    <div (click)="nextPage()" class="arrow">
                        <img src="../../../../assets/icons/Derecha.svg" alt="" *ngIf="(this.pageCount < this.maxPageNumber-1)" [ngClass]="{'disabledArrow':!(this.pageCount <= this.maxPageNumber-1), 'enabledArrow':(this.pageCount <= this.maxPageNumber-1)}">
                        <img src="../../../../assets/icons/DerechaDisabled.png" alt="" *ngIf="!(this.pageCount < this.maxPageNumber-1)" [ngClass]="{'disabledArrow':(this.pageCount <= this.maxPageNumber-1), 'enabledArrow':!(this.pageCount <= this.maxPageNumber-1)}">
                    </div>

                    <div (click)="endPage()" class="arrow">
                        <img src="../../../../assets/icons/Derecha.svg" alt="" *ngIf="(this.pageCount < this.maxPageNumber-1)" [ngClass]="{'disabledArrow':!(this.pageCount <= this.maxPageNumber-1), 'enabledArrow':(this.pageCount <= this.maxPageNumber-1)}" class="join-right">
                        <img src="../../../../assets/icons/Derecha.svg" alt="" *ngIf="(this.pageCount < this.maxPageNumber-1)" [ngClass]="{'disabledArrow':!(this.pageCount <= this.maxPageNumber-1), 'enabledArrow':(this.pageCount <= this.maxPageNumber-1)}">
                        <img src="../../../../assets/icons/DerechaDisabled.png" alt="" *ngIf="!(this.pageCount < this.maxPageNumber-1)" [ngClass]="{'disabledArrow':(this.pageCount <= this.maxPageNumber-1), 'enabledArrow':!(this.pageCount <= this.maxPageNumber-1)}" class="join-right">
                        <img src="../../../../assets/icons/DerechaDisabled.png" alt="" *ngIf="!(this.pageCount < this.maxPageNumber-1)" [ngClass]="{'disabledArrow':(this.pageCount <= this.maxPageNumber-1), 'enabledArrow':!(this.pageCount <= this.maxPageNumber-1)}">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>