<div class="container-aside">
    <div class="logo" [routerLink]="['dashboard']">
        <img src="../../../assets/images/Logo.svg" alt="GlobalMvm">
    </div>
    <ul class="menu">
        <li routerLinkActive="active" [routerLink]="['puntos-medida']">
            <i class="material-icons icon">electric_meter</i>
            <span>Puntos de medida</span>
        </li>
        <li>
            <i class="material-icons icon">handshake</i>
            <span>Pagos</span>
        </li>
        <li>
            <i class="material-icons icon">description</i>
            <span>Certificados</span>
        </li>
        <li>
            <i class="material-icons icon">insights</i>
            <span>Pronósticos</span>
        </li>
        <li>
            <i class="material-icons icon">history</i>
            <span>Historicos</span>
        </li>
        <li>
            <i class="material-icons icon">tune</i>
            <span>Configuración de notificaciones</span>
        </li>
        <li>
            <i class="material-icons icon">bar_chart</i>
            <span>Planeaciones</span>
        </li>
    </ul>
</div>