<div class="container-aside">
    <div class="logo">
        <img src="../../../assets/images/Logo.svg" alt="GlobalMvm">
    </div>
    <ul class="menu">
        <li routerLinkActive="active" [routerLink]="['dashboard']">
            <i class="material-icons icon">payments</i>
            <span>Puntos de medida</span>
        </li>
        <li>
            <i class="material-icons icon">payments</i>
            <span>Pagos</span>
        </li>
        <li>
            <i class="material-icons icon">payments</i>
            <span>Certificados</span>
        </li>
        <li>
            <i class="material-icons icon">payments</i>
            <span>Pronósticos</span>
        </li>
        <li>
            <i class="material-icons icon">payments</i>
            <span>Historicos</span>
        </li>
        <li>
            <i class="material-icons icon">payments</i>
            <span>Configuración de notificaciones</span>
        </li>
    </ul>
</div>