/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
//Variables
$azul_principal:#0C00FF;
$azul_secundario:#07009C;
$rojo:#FF0909;
$verde: #9BC741;
$gris_disable:#D9D9D9;
$height-row-one-dashboard:39.59vh;
$height-row-two-dashboard:36.09vh;
$screen-width: 1366px;
$screen-height: 768px;
$meter-border-width: 8px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Poppins';
}

ul {
    list-style: none;
}

.main-container {
    width: 100%;
    height: 100vh;
}

.main-container mat-drawer {
    width: 330px !important;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.08), 0px 12px 20px rgba(0, 0, 0, 0.07);
}

.input-style {
    background: #FFFFFF;
    border: 1px solid $azul_principal;
    border-radius: 4px;
    padding: 8px 12px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 10px;
    padding: 5px 22px 5px 22px;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid black;
    color: black;
    background-color: #FFFFFF;
    height: fit-content;
    transition: 200ms all;
}

.black-button {
    background: #000000;
    color: white;
    &:hover {
        background-color: $azul_secundario;
        border-color: $azul_secundario;
    }
}

.login-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    overflow: hidden;
    .img-login {
        width: 100%;
        img {
            height: 100%;
        }
    }
    .form-login {
        background-color: white;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 100%;
        justify-items: center;
        grid-template-rows: auto 70px;
        .logo {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
        .form-container {
            width: 80%;
            height: 75%;
            .header-form {
                display: flex;
                flex-direction: column;
                margin-bottom: 37px;
                align-items: center;
                .title-login {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 60px;
                }
                .subtitle-login {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                }
            }
            .fields-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                .container-input {
                    display: flex;
                    flex-direction: column;
                }
                .input-login {
                    width: 285px;
                    height: 35px;
                    margin-bottom: 24px;
                }
                .label-input {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                }
                .button-black {
                    margin-bottom: 24px;
                }
                .remember-pass span {
                    margin-left: 8px;
                }
                .remember-pass span,
                .register {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                }
                .remember-pass input.checkbox {
                    -webkit-appearance: none;
                    appearance: none;
                    border: 1px solid $azul_principal;
                    height: 16px;
                    width: 16px;
                }
                .remember-pass input.checkbox:checked {
                    background-color: $azul_principal;
                    border: 1px solid $azul_principal;
                }
                .remember-pass input.checkbox:checked:after {
                    content: "✔";
                    font-size: 15px;
                    color: white;
                    position: relative;
                    top: -4px;
                    left: 1px;
                }
                .register {
                    margin-top: 37px;
                    color: $azul_principal;
                    cursor: pointer;
                }
                .register:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.button-black {
    color: white;
    padding: 12px 32px;
    width: 285px;
    height: 45px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 2000px;
    cursor: pointer;
}

.checkbox {
    border: 2px solid $azul_principal;
    border-radius: 4px;
}

.container-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    width: 100%;
    height: calc(100vh - 76px);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 18.64px;
    padding-right: 55px;
    overflow-y: auto;
    .content {
        background: #FFFFFF;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 6px 6px rgba(0, 0, 0, 0.07);
        border-radius: 8px;
    }
}

.custom-container {
    width: calc(100vw - 330px - 1px);
    height: calc(100vh - 76px - 1px);
    display: block;
    overflow-x: auto;
    overflow-y: auto;
}

.dashboard-container {
    background-color: #F6F6FF;
    width: 100%;
    height: 100%;
    padding-top: 5.69vh;
    padding-bottom: 6.08vh;
    padding-left: 2.56vw;
    padding-right: 4.69vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: $height-row-one-dashboard $height-row-two-dashboard;
    column-gap: 0.88vw;
    row-gap: 2.07vh;
}

.two-column-span {
    grid-column: 1/3;
}

.two-rows-span {
    grid-row: 1/3;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 6px 6px rgba(0, 0, 0, 0.07);
    display: block;
    padding-top: 2.33vh;
    padding-bottom: 2.33vh;
    padding-left: 1.244vw;
    padding-right: 0.805vw;
    .title {
        width: 100%;
        height: 45px;
        h3 {
            color: $azul_secundario;
            font-size: 24px;
            line-height: 36px;
            font-weight: 700;
        }
    }
}

.canvas-card {
    grid-column: 2/3;
}

.consumo-actual-canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: calc($height-row-one-dashboard + $height-row-two-dashboard + 2.07vh - 45px - 70px - 2*2.33vh);
    canvas {
        width: 100%;
        height: 100%;
    }
}

.notificaciones {
    ul {
        margin-top: 2.19vh;
    }
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 3.87vh;
    }
}

.status-meters {
    width: 100%;
    margin-top: 6.58vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .meter-container {
        display: flex;
        flex-direction: column;
        width: 120px;
        align-items: center;
        justify-content: flex-start;
        align-items: center;
        p {
            font-size: 14px;
            line-height: 21px;
            text-align: center;
        }
        &:last-child {
            margin-right: 0;
        }
        .meter {
            width: calc(109.45px - $meter-border-width);
            height: calc(109.45px - $meter-border-width);
            border-radius: 50%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            font-weight: 700;
            font-size: 24px;
            color: #383838;
            margin-bottom: 2.74vh;
        }
        .normal-consumo {
            border: $meter-border-width solid $verde;
        }
        .bajo-consumo {
            border: $meter-border-width solid $azul_principal;
        }
        .alto-consumo {
            border: $meter-border-width solid $rojo;
        }
    }
}

.chartFilters {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    label {
        height: 30px;
        font-size: 12px;
        line-height: 18px;
    }
}

.organization-container {
    width: calc(50% - 20px);
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-aside {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-bottom: 4px solid;
    border-image: linear-gradient(90deg, #00FF87 3.85%, rgba(12, 0, 255, 0.77811) 50.49%, #CD00FF 100%) 1;
    .logo {
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        cursor: pointer;
        img {
            width: 147.39px;
            height: 110px;
        }
    }
    .menu {
        width: 100%;
        margin-top: 48px;
        li {
            width: 100%;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 12px;
            margin-top: 16px;
            transition: 300ms all;
            cursor: pointer;
            transition: 300ms all;
            display: flex;
            align-items: center;
            font-size: 14px;
            &:first-child {
                margin-top: 0px;
            }
            &:hover {
                background-color: #E7E6FF;
            }
            &:active,
            &:focus {
                background-color: $azul_principal;
                color: white;
                .icon {
                    color: white;
                }
            }
        }
    }
}

.icon {
    color: $azul_principal;
    margin-right: 8px;
}

.container-toolbar {
    height: 76px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(7, 0, 156, 0.06);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .input-toolbar {
        height: 35px;
        width: 40vw;
        margin-left: 18.64px;
        margin-right: 8.80vw;
        input {
            background-image: url(assets/icons/buscar.svg);
            background-position: calc(100% - 10px) center;
            background-repeat: no-repeat;
        }
    }
    .notificacion {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $azul_principal;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
        margin-right: 3vw;
    }
    .user-toolbar {
        height: 40px;
        width: 17.56vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        .userName {
            font-size: 14px;
            margin-right: 16px;
        }
        .logo {
            margin-right: 16px;
            img {
                height: 40px;
                width: 40px;
            }
        }
    }
}

select {
    appearance: none;
    -webkit-appearance: none;
    background-image: none;
}

input,
select {
    border: 1px solid $azul_principal;
    border-radius: 4px;
    background-color: #FFFFFF;
    height: 35px;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    transition: 200ms all;
    &:active {
        background-color: #E7E6FF;
    }
    &:focus {
        border: 1px solid $azul_principal !important;
        outline: none;
    }
    &:disabled {
        color: $gris_disable;
        border: 1px solid $gris_disable;
        background-color: #FFFFFF;
    }
}

select {
    background-image: url(assets/icons/Abajo.svg);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    &:disabled {
        background-image: url(assets/icons/AbajoDisable.svg);
    }
}

.container-puntos-medida {
    height: calc(100vh - 76px);
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 5% 150px 20% 50%;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #F6F6FF;
    .container-breadcrumbs {
        display: flex;
        align-items: center;
        grid-column: 1/3;
        .volver {
            width: 80px;
            cursor: pointer;
        }
        i {
            color: $azul_principal;
            cursor: pointer;
            font-size: 12px;
        }
        span {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: $azul_principal;
            margin-left: 11px;
        }
    }
    .text-header {
        display: flex;
        flex-direction: column;
        grid-column: 1/3;
        .title {
            font-style: normal;
            font-weight: 300;
            font-size: 48px;
            line-height: 72px;
            color: $azul_secundario;
        }
        .departamento {
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 48px;
            color: $azul_secundario;
        }
    }
    .tabla-filters {
        .filter {
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            margin-bottom: 19px;
            height: 200px;
            .fields {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto auto;
                row-gap: 15%;
                column-gap: 6%;
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 10px;
                .field {
                    display: flex;
                    flex-direction: column;
                    .input-time {
                        width: 145px;
                        margin-right: 6px;
                    }
                    .typetime {
                        background-position: calc(100% - 10px) center;
                        background-repeat: no-repeat;
                        background-image: url(assets/icons/reloj.svg);
                        padding-right: 30px;
                    }
                    .end-time {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        align-self: flex-start;
                        justify-self: flex-end;
                    }
                    .icon-time {
                        justify-self: flex-end;
                        align-self: flex-start;
                    }
                }
                button {
                    grid-column: 3/4;
                    justify-self: end;
                    cursor: pointer;
                }
            }
        }
    }
    .mapa {
        grid-row: 3/5;
        grid-column: 2/3;
    }
}

.container-tabla {
    .icon-eye {
        color: #0C00FF;
        cursor: pointer;
    }
    .icon-state {
        margin-right: 6px;
    }
}