/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
//Variables
$azul_principal:#0C00FF;
$azul_secundario:#07009C;
$rojo:#FF0909;
$verde: #9BC741;
$gris_disable:#D9D9D9;
$height-row-one-dashboard:39.59vh;
$height-row-two-dashboard:36.09vh;
$screen-width: 1366px;
$screen-height: 768px;
$meter-border-width: 8px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Poppins';
}

ul {
    list-style: none;
}

.main-container {
    width: 100%;
    height: 100vh;
}

.main-container mat-drawer {
    width: 330px !important;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.08), 0px 12px 20px rgba(0, 0, 0, 0.07);
}

.input-style {
    background: #FFFFFF;
    border: 1px solid $azul_principal;
    border-radius: 4px;
    padding: 8px 12px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 10px;
    padding: 5px 22px 5px 22px;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid black;
    color: black;
    background-color: #FFFFFF;
    height: fit-content;
    transition: 200ms all;
}

.black-button {
    background: #000000;
    color: white;
    &:hover {
        background-color: $azul_secundario;
        border-color: $azul_secundario;
    }
}

.login-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    overflow: hidden;
    .img-login {
        width: 100%;
        img {
            height: 100%;
        }
    }
    .form-login {
        background-color: white;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 100%;
        justify-items: center;
        grid-template-rows: auto 70px;
        .logo {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
        .form-container {
            width: 80%;
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .header-form {
                display: flex;
                flex-direction: column;
                margin-bottom: 37px;
                align-items: center;
                .title-login {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 60px;
                }
                .subtitle-login {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                }
            }
            .fields-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                .container-input {
                    display: flex;
                    flex-direction: column;
                }
                .input-login {
                    width: 285px;
                    height: 35px;
                    margin-bottom: 24px;
                }
                .label-input {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                }
                .button-black {
                    margin-bottom: 24px;
                }
                .remember-pass {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .remember-pass span {
                    margin-left: 8px;
                }
                .remember-pass span,
                .register {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                }
                .remember-pass input.checkbox {
                    -webkit-appearance: none;
                    appearance: none;
                    border: 1px solid $azul_principal;
                    height: 16px;
                    width: 16px;
                }
                .remember-pass input.checkbox:checked {
                    background-color: $azul_principal;
                    border: 1px solid $azul_principal;
                }
                // .remember-pass input.checkbox:checked:after {
                //     content: "✔";
                //     font-size: 15px;
                //     color: white;
                //     position: relative;
                //     top: -1px;
                //     left: 1px;
                // }
                .register {
                    margin-top: 37px;
                    color: $azul_principal;
                    cursor: pointer;
                }
                .register:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.button-black {
    color: white;
    padding: 12px 32px;
    width: 285px;
    height: 45px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 2000px;
    cursor: pointer;
}

.checkbox {
    border: 2px solid $azul_principal;
    border-radius: 4px;
}

.container-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    width: 100%;
    height: calc(100vh - 76px);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 18.64px;
    padding-right: 55px;
    overflow-y: auto;
    .content {
        background: #FFFFFF;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 6px 6px rgba(0, 0, 0, 0.07);
        border-radius: 8px;
    }
}

.text-header {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    width: 70%;
    .title {
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 72px;
        color: $azul_secundario;
    }
}

.container-breadcrumbs {
    display: flex;
    align-items: center;
    grid-column: 1/3;
    .volver {
        width: 80px;
        cursor: pointer;
    }
    i {
        color: $azul_principal;
        cursor: pointer;
        font-size: 12px;
    }
    span {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: $azul_principal;
        margin-left: 11px;
    }
}

.custom-container {
    width: calc(100vw - 330px - 1px);
    height: calc(100vh - 76px - 1px);
    display: block;
    padding-bottom: 50px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #F6F6FF;
    .text-header {
        width: 100%;
        padding-left: 26px;
        margin-top: 5px;
        margin-bottom: 9px;
    }
    .container-breadcrumbs {
        padding-left: 27px;
    }
}

.dashboard-container {
    width: 100%;
    height: 100%;
    padding-top: 5.69vh;
    padding-bottom: 6.08vh;
    padding-left: 2.56vw;
    padding-right: 4.69vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: $height-row-one-dashboard $height-row-two-dashboard;
    column-gap: 0.88vw;
    row-gap: 2.07vh;
}

.two-column-span {
    grid-column: 1/3;
}

.two-rows-span {
    grid-row: 1/3;
}

.card {
    width: 100%;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 6px 6px rgba(0, 0, 0, 0.07);
    display: block;
    padding-top: 2.33vh;
    padding-bottom: 2.33vh;
    padding-left: 1.244vw;
    padding-right: 0.805vw;
    overflow-x: auto;
    overflow-y: auto;
    .title {
        width: 100%;
        height: 45px;
        h3 {
            color: $azul_secundario;
            font-size: 24px;
            line-height: 36px;
            font-weight: 700;
        }
    }
}

.canvas-card {
    grid-column: 2/3;
}

.consumo-actual-canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: calc($height-row-one-dashboard + $height-row-two-dashboard + 2.07vh - 45px - 70px - 2*2.33vh);
}

canvas {
    width: 100%;
    height: 100%;
}

.notificaciones {
    ul {
        margin-top: 2.19vh;
    }
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 3.87vh;
    }
}

.status-meters {
    width: 100%;
    margin-top: 6.58vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .meter-container {
        display: flex;
        flex-direction: column;
        width: 120px;
        align-items: center;
        justify-content: flex-start;
        align-items: center;
        p {
            font-size: 14px;
            line-height: 21px;
            text-align: center;
        }
        &:last-child {
            margin-right: 0;
        }
        .meter {
            width: calc(109.45px - $meter-border-width);
            height: calc(109.45px - $meter-border-width);
            border-radius: 50%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            font-weight: 700;
            font-size: 24px;
            color: #383838;
            margin-bottom: 2.74vh;
        }
        .normal-consumo {
            border: $meter-border-width solid $verde;
        }
        .bajo-consumo {
            border: $meter-border-width solid $azul_principal;
        }
        .alto-consumo {
            border: $meter-border-width solid $rojo;
        }
    }
}

.chartFilters {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    label {
        height: 30px;
        font-size: 12px;
        line-height: 18px;
    }
}

.organization-container {
    width: calc(50% - 20px);
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-aside {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-bottom: 4px solid;
    border-image: linear-gradient(90deg, #00FF87 3.85%, rgba(12, 0, 255, 0.77811) 50.49%, #CD00FF 100%) 1;
    .logo {
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        cursor: pointer;
        img {
            width: 147.39px;
            height: 110px;
        }
    }
    .menu {
        width: 100%;
        margin-top: 48px;
        padding-left: 10px;
        li {
            width: 95%;
            border-radius: 8px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 12px;
            margin-top: 16px;
            transition: 300ms all;
            cursor: pointer;
            transition: 300ms all;
            display: flex;
            align-items: center;
            font-size: 14px;
            &:first-child {
                margin-top: 0px;
            }
            &:hover {
                background-color: #E7E6FF;
            }
            &:active,
            &:focus {
                background-color: $azul_principal;
                color: white;
                .icon {
                    color: white;
                }
            }
        }
    }
}

.icon {
    color: $azul_principal;
    margin-right: 8px;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
    max-width: 300px !important;
}

.mat-mdc-menu-content {
    width: 300px;
    padding: 0px !important;
}

.container-mat-menu {
    display: grid;
    grid-template-rows: 80% 20%;
    font-family: 'Poppins';
    .buttons {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .button {
            margin-bottom: 15px;
            cursor: pointer;
            width: 80%;
            display: flex;
            align-items: center;
            height: 40px;
            mat-icon {
                color: $azul_principal;
                margin-right: 5px;
            }
        }
        .button:hover {
            background: #E7E6FF;
            border-radius: 8px;
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(233, 233, 233, 0.45);
        cursor: pointer;
        mat-icon {
            color: $azul_principal;
            margin-right: 5px;
        }
    }
}

.container-toolbar {
    height: 76px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px rgb(7 0 156 / 6%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 30% 15% 5%;
    justify-content: flex-start;
    .input-toolbar {
        height: 35px;
        width: 90%;
        max-width: 800px;
        margin-left: 18.64px;
        input {
            background-image: url(assets/icons/buscar.svg);
            background-position: calc(100% - 10px) center;
            background-repeat: no-repeat;
        }
    }
    .notificacion {
        display: flex;
        justify-content: center;
        align-items: center;
        #numero-notificacion {
            left: -16px;
            position: relative;
            top: 20px;
        }
    }
    .user-toolbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .userName {
            font-size: 14px;
            margin-right: 16px;
        }
        .logo {
            margin-right: 16px;
            display: flex;
            align-items: center;
            img {
                height: 40px;
                width: 40px;
            }
            #flecha-abajo {
                height: 12px;
                width: 21px;
                margin-left: 10px;
            }
        }
    }
}

select {
    appearance: none;
    -webkit-appearance: none;
    background-image: none;
}

input,
select {
    border: 1px solid $azul_principal;
    border-radius: 4px;
    background-color: #FFFFFF;
    height: 35px;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    transition: 200ms all;
    &:active {
        background-color: #E7E6FF;
    }
    &:focus {
        border: 1px solid $azul_principal !important;
        outline: none;
    }
    &:disabled {
        color: $gris_disable;
        border: 1px solid $gris_disable;
        background-color: #FFFFFF;
    }
}

select {
    background-image: url(assets/icons/Abajo.svg);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    &:disabled {
        background-image: url(assets/icons/AbajoDisable.svg);
    }
}

.container-puntos-medida {
    display: grid;
    grid-template-columns: minmax(0, 1400px) 35%;
    grid-template-rows: 30px 5% 150px auto;
    padding-left: 20px;
    app-reloj {
        grid-column: 1/3;
    }
    .container-breadcrumbs {
        display: flex;
        align-items: center;
        align-self: flex-end;
        span {
            margin-right: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #848484;
        }
    }
    .text-header {
        display: flex;
        flex-direction: column;
        grid-column: 1/3;
        width: 65%;
        max-width: 1400px;
        .title {
            font-style: normal;
            font-weight: 300;
            font-size: 48px;
            line-height: 72px;
            color: $azul_secundario;
        }
        .departamento {
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 48px;
            color: $azul_secundario;
        }
    }
}

.tabla-filters {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: minmax(0, 1400px) 35%;
    grid-template-rows: auto auto;
    margin-bottom: 30px;
    .filter {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        margin-bottom: 19px;
        height: 250px;
        .fields {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;
            row-gap: 15%;
            column-gap: 6%;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 10px;
            .field {
                display: flex;
                flex-direction: column;
                .input-time {
                    width: 145px;
                    margin-right: 6px;
                }
                .typetime {
                    background-position: calc(100% - 10px) center;
                    background-repeat: no-repeat;
                    background-image: url(assets/icons/reloj.svg);
                    padding-right: 30px;
                }
                .end-time {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    align-self: flex-start;
                    justify-self: flex-end;
                }
                .icon-time {
                    justify-self: flex-end;
                    align-self: flex-start;
                }
                div {
                    display: flex;
                    border: 1px solid #0C00FF;
                    align-items: center;
                    background-position: calc(100% - 10px) center;
                    background-repeat: no-repeat;
                    background-image: url(assets/icons/reloj.svg);
                    padding-right: 30px;
                    .custom-time {
                        border: none;
                        background-image: none !important;
                        text-align: center;
                        cursor: pointer;
                    }
                    .custom-time:focus {
                        border: none !important;
                    }
                    .custom-time:hover {
                        background-color: #E7E6FF;
                    }
                    .custom-time option:hover {
                        background-color: none !important;
                    }
                }
            }
            button {
                grid-column: 3/4;
                justify-self: end;
                cursor: pointer;
            }
        }
    }

    .updated-data{
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 8px;
        margin-bottom: 19px;
        height: 250px;
        margin-left: 10px;
        margin-right: 10px;

        .content-updated{
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 20px;
            overflow: auto;
            justify-content: center;
        }

        .text-small{
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            color: #848484;
        }

        .text-large{
            font-weight: 700;
            font-size: 60px;
            line-height: 90px;
            text-align: center;
            color: #848484;
            align-self: center;
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
    }
    .mapa {
        grid-row: 4/6;
        grid-column: 2/3;
    }
}

.container-tabla {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 98%;
    .icon-eye {
        cursor: pointer;
    }
    .icon-medidor {
        cursor: pointer;
        margin-right: 10px;
    }
    .icon-state {
        margin-right: 6px;
    }
}

.container-elegir-hora {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    height: 142px;
    border: 1px solid red;
    position: absolute;
    width: 184px;
    margin-top: 5px;
    overflow: hidden;
    .horas {
        height: 100%;
        overflow-y: scroll;
         ::-webkit-scrollbar {
            width: 0.2em;
            background-color: #15bb36;
        }
         ::-webkit-scrollbar-thumb {
            background-color: #4b18c2;
        }
         ::-webkit-scrollbar-thumb:hover {
            background-color: #ff0f0f;
        }
    }
}

.reloj {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 5px;
    span {
        margin-right: 10px;
    }
}

.full-container {
    height: calc(100vh - 76px);
    background-color: #F6F6FF;
    overflow-x: auto;
    overflow-y: auto;
}

.container-pagination {
    display: grid;
    grid-template-columns: 60px auto 40px 40px 150px 40px 40px;
    justify-content: end;
    background-color: white;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 8%), 0px 12px 20px rgb(0 0 0 / 7%);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-right: 10px;
    align-items: center;
    span {
        font-size: 11px;
    }
    .select-pagination {
        margin-right: 40px;
        width: 70px;
        height: 90%;
    }
    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        .join-right {
            position: relative;
            right: -10px;
        }
        .join-left {
            position: relative;
            left: -10px;
        }
    }
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .page {
            width: 30px;
            height: 30px;
            background: #0C00FF;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            color: white;
        }
        .page-noselected {
            width: 30px;
            height: 30px;
            background: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            color: #0C00FF;
        }
    }
}

.disabledArrow {
    cursor: default;
}

.enabledArrow {
    cursor: pointer;
}

.container-select {
    position: relative;
    z-index: 999;
    .select {
        border: 1px solid $azul_principal;
        border-radius: 4px;
        background-color: #FFFFFF;
        height: 35px;
        font-size: 14px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        transition: 200ms all;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        span {
            width: 100%;
        }
    }
    .select-disabled {
        background-color: #9595951a !important;
        border: 1px solid black !important;
        cursor: default !important;
    }
    .options {
        background-color: white;
        position: absolute;
        top: 100%;
        width: 100%;
        margin-top: 5px;
        padding: 12px;
        max-height: 270px;
        overflow-y: scroll;
        border: 1px solid #E9E9E9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        .option {
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            color: #000000;
            margin-bottom: 20px;
            cursor: pointer;
        }
        .option:hover {
            color: $azul_principal;
        }
    }
}

.options-hide {
    display: none;
}

.options-show {
    display: block;
}

app-select-custom {
    width: 100%;
}

.organization-detalle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 23px;
    padding-left: 20px;
    padding-right: 23px;
    padding-top: 9px;
    padding-bottom: 10px;
}

.graficas-card-detalle-container {
    width: 100%;
    height: 532px;
    max-height: 532px;
    padding-left: 20px;
    padding-right: 23px;
    .card {
        overflow-x: hidden !important;
    }
    .pronosticos-charts-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .date-filter-container {
            width: 145px;
        }
        .canvas-container {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr calc(30px + 39.38vw + 15px);
            .grafica-porcentaje-consumo-container {
                grid-column: 2/3;
            }
            .graficas-mes-porcentaje-container {
                grid-column: 1/3;
                display: grid;
                grid-template-columns: 47.80vw 1fr;
                column-gap: 40px;
            }
            .grafica-consumo-mes-container {
                grid-column: 1/2;
            }
            .grafica-consumo-dia-canvas,
            .grafica-consumo-mes-canvas,
            .grafica-porcentaje-canvas {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin-top: 25px;
                width: 100%;
            }
            .grafica-consumo-dia-canvas {
                height: 241px;
            }
            .grafica-consumo-mes-canvas,
            .grafica-porcentaje-canvas {
                height: 200px;
            }
            .grafica-porcentaje-canvas {
                width: 80%;
            }
        }
    }
}

.field-custom {
    height: 35px !important;
    display: flex;
    flex-direction: column;
    mat-form-field {
        input {}
        input:focus {
            border: none !important;
        }
        button {
            mat-icon {
                color: $azul_principal;
            }
        }
    }
    mat-form-field:hover {}
}

.mat-drawer-content {
    overflow: hidden !important;
}

.mat-mdc-form-field-infix {
    display: flex;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
    height: 35px !important;
    border: 1px solid $azul_principal;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding: 0 !important;
    height: 35px !important;
    min-height: 35px !important;
    input {
        height: 35px !important;
    }
}

.mat-mdc-form-field-flex {
    height: 35px !important;
}

.mdc-text-field {
    padding: 0px !important;
}

.mdc-icon-button {
    padding: 0px !important;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 0px !important;
}

.mat-mdc-icon-button.mat-mdc-button-base {
    width: 35px !important;
    height: 35px !important;
}

.mat-mdc-text-field-wrapper:hover {
    // background-color: #E7E6FF !important;
}

.mat-mdc-text-field-wrapper {
    padding-left: 10px !important;
}

// .mdc-text-field {
//     position: static !important;
//     will-change: inherit !important;
// }
.mat-calendar-arrow {
    fill: $azul_principal !important;
}

.mat-calendar-arrow {
    color: $azul_principal !important;
}

.mdc-button .mdc-button__label {
    color: $azul_principal !important;
}

.mat-calendar-next-button {
    color: $azul_principal !important;
}

.mat-calendar-previous-button {
    color: $azul_principal !important;
}

.mat-calendar-table-header th {
    color: $azul_principal;
}