<div class="custom-container">
    <div class="dashboard-container">
        <div class="card">
            <div class="title">
                <h3>Notificaciones</h3>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <h3>Estado del consumo actual</h3>
            </div>
            <div class="consumo-actual-canvas">
                <canvas baseChart [data]="consumoActualData" [options]="lineChartOptions" [type]="consumoActualChart"></canvas>
            </div>
        </div>
        <div class="card two-column-span">
            <div class="title">
                <h3>Estado actual de los medidores</h3>
            </div>
        </div>
    </div>
</div>