<div class="container-dashboard">
    <app-aside></app-aside>
    <app-toolbar></app-toolbar>

    <div class="container-content">
        <div class="notificaciones">
            <div class="content">

            </div>
        </div>

        <div class="grafica-lineal">
            <div class="content">
                
            </div>
        </div>

        <div class="grafica-medidores">
            <div class="content">
                
            </div>
        </div>
    </div>
</div>
