<div class="custom-container">
    <app-reloj></app-reloj>
    <div class="dashboard-container">
        <div class="card notificaciones">
            <div class="title">
                <h3>Notificaciones</h3>
                <ul>
                    <li>
                        <i class="material-icons icon">groups</i>
                        <span>
                            En el área de producción hay 3 medidores con consumos fuera de lo normal, se recomienda revisar
                        </span>
                    </li>
                    <li>
                        <i class="material-icons icon">show_chart</i>
                        <span>
                            En el área Comercial hay 1 medidor con un consumo muy alto
                        </span>
                    </li>
                    <li>
                        <i class="material-icons icon">lightbulb</i>
                        <span>
                            Su consumo de energía este mes está por debajo del consumo del mes anterior.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card canvas-card two-rows-span">
            <div class="title">
                <h3>Estado del consumo actual</h3>
            </div>
            <div class="chartFilters" *ngIf="rootOrganizations">
                <div class="organization-container">
                    <app-select-custom [options]="dataAreaSelect" (selected)="onAreaSelected($event)"></app-select-custom>
                </div>
                <div class="organization-container">
                    <app-select-custom [options]="dataMedidorSelect" (selected)="onMedidorSelected($event)"></app-select-custom>
                </div>
            </div>
            <div class="consumo-actual-canvas">
                <canvas baseChart [data]="consumoActualData" [options]="lineChartOptions" [type]="consumoActualChart"></canvas>
            </div>
        </div>
        <div class="card meter-card">
            <div class="title">
                <h3>Estado actual de los medidores</h3>
                <div class="status-meters" *ngIf="statusMonitor">
                    <div class="meter-container">
                        <div class="meter alto-consumo">
                            {{statusMonitor.altoConsumo | number:'1.1-1'}}%
                        </div>
                        <p>
                            Alto Consumo
                        </p>
                    </div>
                    <div class="meter-container">
                        <div class="meter normal-consumo">
                            {{statusMonitor.consumoNormal | number:'1.1-1'}}%
                        </div>
                        <p>
                            Consumo dentro del margen
                        </p>
                    </div>
                    <div class="meter-container">
                        <div class="meter bajo-consumo">
                            {{statusMonitor.bajoConsumo | number:'1.1-1'}}%
                        </div>
                        <p>
                            Bajo consumo
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>